Incoming XML has errors. Error details

Order# --> ${headers.orderId}
Error Type --> ${headers.errorType}
Error/Exception --> ${headers.exception_message}


This is an auto generated email. Please do not reply.