Incoming XML has errors. Error details

Order# --> ${headers.validateResponse.orderId}
Error Type --> ${headers.validateResponse.errorType}
Error/Exception --> ${headers.validateResponse.exceptionMessage}


This is an auto generated email. Please do not reply.